<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="dropdown">
		<form method="POST" action="/ex05/remove/" name="buttons">
			{% csrf_token %}
			<select name="Key">
				{% for title in film %}
				<option value="{{ title }}">{{ title }}</option>
				{% endfor %}
			</select>
			<input id='remove' type='submit' value='remove'>
		</form>
	</div>
</body>
</html>