{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Database HTML</title>
        <style>
            body {
                width: 100%;
                height: 200px;
                background-image : url({% static 'segfault.jpg' %});
                background-repeat: no-repeat;
                color: white;
                }
        </style>
    </head>
    <body>
        <h1> Hello </h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ article_form.as_p }}
            <input type="submit" value="Submit">
        </form>
        <ul stile="border:solid 2px" >
                {% for i in data %}
                <li>
                    {{ i.title }}
                    <img src="{{ i.pics }}" alt="{{ i.title }}" height="150px">
                </li>
                {% endfor %}
        </ul>

    </body>
</html>