{% extends 'base.html' %}
{% block title_content %}
    <title>Ex01: Display process of a static page.</title>
{% endblock %}

{% block content %}
    <h1>Process causing the display of a static web page from a simple template going through a view, from the request to the answer : </h1>
    <p>1. Update the urls.py file with the paths. Import your functions from the views.py of your app.</p>
    <p>2. Create your function in the views.py of your app.</p>
    <p>3. Create the html file in your template folder.</p>
    <p>That's it, easy peasy</p>
{% endblock %}